body {
    background-color: brown(131, 5, 5);
    font-family: "assinato"  system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0px;
 }

 button {
     background-color: blanchedalmond(255, 231, 123);
     font-family: "assasinato" , system-ui;
 }

 .passo {
      display :nome;
 }

 .passo.ativo {
      display:block;
}

main {
      text-align: center;
      max-width: 90%;
}

ing {
    max-width: 90%;
}